<div class="box">
	<%= image_tag pin.image(:medium) %>
	<p class="description">
		<%= pin.description %>
	</p>
	<p>
	<strong>
		posted by <%= pin.user.name %>
	</strong>
	</p>
	<%= link_to 'show', pin %>
	<% if current_user == pin.user %>
		<p>
			<%= link_to 'edit', edit_pin_path(pin) %>
			<%= link_to 'destroy', pin, method: :delete, data: { confirm: 'you sure?' } %>
		</p>
	<% end %>
</div>