<h1>pins</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'show', pin %></td>
        <td><%= link_to 'edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'destroy', pin, method: :delete, data: { confirm: 'you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'new pin', new_pin_path %>
